@media screen and (min-width: 1000px){




    .h5.shopping_cart--heading{
        font-size: 30px;
    }

    .shopping_cart--box{
        flex: 1 0 auto;

        display: flex;
        flex-direction: column;

        overflow-y: auto;
    }

    .shopping_cart--cashier{
        flex: 0 0 auto;
        padding: 16px;
    }

    .shopping_cart--buttons{
        flex: 0 0 auto;


    }

    .shopping_cart--button{
        width: 100%;
    }



    .testing{
        color: red;
    }


}


@media screen and (min-width: 500px) and (max-width: 999px){
    

}


@media screen and (max-width: 499px){

}