@media screen and (min-width: 1000px){




    .shopping_cart--heading{
        font-size: 20px;
    }

    .shopping_cart--box{
        overflow-y: auto;
    }

    .shopping_cart--button{
        width: 100%;
    }

}